
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


html{
    scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.login{
    border: 2px solid white;
}
.openMenu{
    transform: translateX(0);
    opacity: 1;
}
.showTab{
    position: relative;
}
.showTab::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(0, 94%, 66%);
    height: 5px;
    width: 145px;
}
@media (min-width: 1024px) {
    .showTab::after{
        width: 100%;
    }
}

.hideFeature{
    transform: scale(0);
    height: 0;
}

.accordion-item.active #redImage{
    display: block;
    opacity: 1;
}
.accordion-item.active #blueImage{
    display: none;
    opacity: 0;
}
.accordion-item.active .answer{
    height: auto;
    overflow: auto;
}


/* contact */

.inputDiv.error .input input[type="text"]{
    border: 3px solid hsl(0, 94%, 66%);
}
.inputDiv.error .input img{
    display: block;
}
.inputDiv.error p{
    display: block;
}
